<h1>Simple jQuery Slideshow</h1>


<div id="slideshow">
    <%= image_tag "image1.jpg", :alt=>"Slideshow Image 1", :class=>"active" %>
    <%= image_tag "image3.jpg", :alt=>"Slideshow Image 3" %>
    <%= image_tag "image4.jpg", :alt=>"Slideshow Image 4" %>
</div>